/*
* Custom styles
*/
.prflxtrflds-delete-filter {
	border: 1px solid #C3C2C2;
	border-radius: 5px;
	padding: 0 4px;
	margin: 0 4px;
}

.prflxtrflds-delete-filter a {
	color: #ff3c44;
	text-decoration: none;
	margin: 0 4px 0 2px;
}

.prflxtrflds-delete-filter a:hover {
	color: #8b0c0b;
}

.prflxtrflds-wplisttable-container {
	width: 100%;
}

.prflxtrflds-wplisttable-fullwidth-container,
.prflxtrflds-wplisttable-fullwidth-sort-container {
	width: 100%;
    padding: 10px;
}

.prflxtrflds-sortable-form {
	float: left;
	margin: 60px 0 0 30px;
}

.prflxtrflds-options-table td {
	border-bottom: 1px solid #DFDFDF;
	border-right: 1px solid #DFDFDF;
	height: 25px;
	padding: 2px 10px;
	text-align: left;
}

.prflxtrflds-options-table th {
	padding: 0 20px;
}

.prflxtrflds-options-table th:first-of-type {
	width: 220px;
}

.prflxtrflds-description {
	min-width: 220px;
}

.prflxtrflds-values-info {
	color: #888888;
	font-size: 10px;
}

.prflxtrflds-value-name {
    float: left;
    padding-left: 30px;
    width: 177px;
}

.prflxtrflds-delete {
    padding-left: 10px;
    float: left;
}

#prflxtrflds-add-field {
	margin: 3px 25px;
}

#prflxtrflds-div-select-all {
	display: none;
}

.prflxtrflds-cursor-move {
	cursor: move;
}

input.prflxtrflds-value-delete-check {
	display: none;
}

.prflxtrflds-value-delete input {
    margin: 4px;
}

input.prflxtrflds-value-delete-check + label,
input.prflxtrflds-value-delete-check + label {
	font: 18px bold;
	color: #444;
	cursor: pointer;
}

input.prflxtrflds-value-delete-check + label::before,
input.prflxtrflds-value-delete-check + label::before {
	content: "";
	display: inline-block;
	height: 18px;
	width: 18px;
	margin: 2px 5px 0 0;
	background: url("../images/del_icon.png") no-repeat scroll 0 0 transparent;
}

.prflxtrflds-wplisttable-form {
	padding-bottom: 20px;
}

.prflxtrflds-shortcode {
	font-size: 14px;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
}

.prflxtrflds-wplisttable-searchform .search-box {
    margin-bottom: 5px;
}

.prflxtrflds-wplisttable-fullwidth-container .search-box {
    bottom: -15px;
}

.prflxtrflds-drag-values input {
    /* Must overwrite wp styles to input */
    max-width: 80% !important;
    float: left;
}

.prflxtrflds-drag-values {
    clear: both;
}

.prflxtrflds-drag-field {
    float: left;
    padding: 10px;
}

.prflxtrflds-add-button-container {
    clear: both;
}

/* Drag n drop styles */
body.prflxtrflds-dragging, body.prflxtrflds-dragging * {
	cursor: move !important;
}

.prflxtrflds-dragged {
	position: absolute;
	opacity: 0.5;
	z-index: 2000;
}

table tr.prflxtrflds-placeholder:before {
	position: absolute;
	content: " ";
	width: 98%;
	border-bottom: 1px dotted #000000;
}
/* End drag n drop styles */

@media screen and ( max-width: 1000px ) {

    .prflxtrflds-wplist-select {
		max-width: 100%;
	}
}

@media screen and ( max-width: 780px ) {

    .prflxtrflds-delete {
        padding-right: 10%;
        float: right;
    }

}

@media screen and ( max-width: 620px ) {

    .prflxtrflds-wplisttable-searchform td,
    .prflxtrflds-wplisttable-searchform th,
    .prflxtrflds-wplisttable-form td,
    .prflxtrflds-wplisttable-form th,
    .prflxtrflds-wplisttable-container td,
    .prflxtrflds-wplisttable-container th {
        /* Overwrite default styles */
        word-wrap: break-word !important;
    }

    .prflxtrflds-delete {
        padding-right: 8%;
        float: right;
    }
}

@media screen and ( max-width: 450px ) {

    .prflxtrflds-drag-values input {
        /* Must overwrite wp styles to input */
        max-width: 70% !important;
        float: left;
    }
}