/* Profile Extra Fields icon */
.menu-top.toplevel_page_profile-extra-fields .wp-menu-image {
	font-family: 'bwsicons' !important;
}
.menu-top.toplevel_page_profile-extra-fields .wp-menu-image:before {
	content: "\e923";
	font-family: 'bwsicons' !important;
}
/*
* Custom styles
*/
.prflxtrflds-delete-filter {
	border: 1px solid #C3C2C2;
	border-radius: 5px;
	padding: 0 4px;
	margin: 0 4px;
}
.prflxtrflds-delete-filter a {
	color: #ff3c44;
	text-decoration: none;
	margin: 0 4px 0 2px;
}
.prflxtrflds-delete-filter a:hover {
	color: #8b0c0b;
}
.prflxtrflds-wplisttable-container {
	width: 100%;
}
.prflxtrflds-wplisttable-fullwidth-container,
.prflxtrflds-wplisttable-fullwidth-sort-container {
	width: 100%;
}
.prflxtrflds-sortable-form {
	float: left;
	margin: 60px 0 0 30px;
}
.prflxtrflds-options-table td {
	border-bottom: 1px solid #DFDFDF;
	border-right: 1px solid #DFDFDF;
	height: 25px;
	padding: 2px 10px;
	text-align: left;
}
.prflxtrflds-options-table th {
	padding: 0 20px;
}
.prflxtrflds-options-table th:first-of-type {
	width: 220px;
}
.prflxtrflds-description {
	min-width: 220px;
}
.prflxtrflds-value-name {
	float: left;
	padding-left: 30px;
	width: 177px;
}
.prflxtrflds-delete {
	padding-left: 10px;
	float: left;
}
#prflxtrflds-add-field {
	margin: 3px 25px;
}
#prflxtrflds-div-select-all {
	display: none;
}
.prflxtrflds-cursor-move {
	cursor: move;
}
input.prflxtrflds-value-delete-check {
	display: none;
}
.prflxtrflds-value-delete input {
	margin: 4px;
}
input.prflxtrflds-value-delete-check + label,
input.prflxtrflds-value-delete-check + label {
	font: 18px bold;
	color: #444;
	cursor: pointer;
}
input.prflxtrflds-value-delete-check + label::before,
input.prflxtrflds-value-delete-check + label::before {
	content: "";
	display: inline-block;
	height: 18px;
	width: 18px;
	margin: 2px 5px 0 0;
	background: url("../images/del_icon.png") no-repeat scroll 0 0 transparent;
}
/* Table wrap for booking tab start */
.prflxtrflds-table-wrap {
	margin: 10px 0;
}
.prflxtrflds-table-wrap .hndle {
	padding: 8px 12px;
	margin: 0;
	cursor: pointer !important;
}
.prflxtrflds-table-wrap table {
	border: none;
}
.prflxtrflds-table-wrap .inside {
	margin: 0;
	padding: 0;
}
/* Table wrap for booking tab end */
.prflxtrflds-wplisttable-form {
	padding-bottom: 20px;
}
.prflxtrflds-wplisttable-form .fixed .column-name .user_id {
	display: none;
}
.prflxtrflds-export-table th {
	width: 81px;
	padding-bottom: 0;
}
.prflxtrflds-export-table td {
	padding-bottom: 0;
	padding-right: 0;
}
.prflxtrflds-wplisttable-searchform .search-box {
	margin-bottom: 5px;
}
.prflxtrflds-wplisttable-fullwidth-container .search-box {
	bottom: -15px;
}
.prflxtrflds-drag-values input {
	/* Must overwrite wp styles to input */
	max-width: 80% !important;
	float: left;
}
.prflxtrflds-date-format input.small-text,
.prflxtrflds-time-format input.small-text {
	width: 56px;
}
.prflxtrflds-drag-values {
	clear: both;
}
.prflxtrflds-drag-field {
	float: left;
	padding: 10px;
}
.prflxtrflds-add-button-container {
	clear: both;
}
/* Drag n drop styles */
.prflxtrflds-wplisttable-fullwidth-sort-container tr.ui-sortable-helper * {
	background-color: transparent;
}
.prflxtrflds-wplisttable-fullwidth-sort-container .ui-sortable-helper {
	background-color: #f5f5f5;
	opacity: 0.8;
	filter: alpha(opacity=80);
	border: 1px solid #888;
}
.prflxtrflds-wplist-select,
.prflxtrflds_specify {
	max-width: 100%;
}
.prflxtrflds-placeholder {
	visibility: visible !important;
	border: 1px dashed #bbb;
}
.prflxtrflds-drag-values-container {
	max-width: 400px;
}
.prflxtrflds-drag-values-container .prflxtrflds-placeholder {
	min-height: 20px;
	clear: both;
}
#prflxtrflds-role {
	margin-bottom: 3px;
}
#prflxtrflds-caption-checkboxes th {
	width: 0;
	text-align: center;
}
#prflxtrflds-select-checkboxes td {
	vertical-align: top;
}
tr #prflxtrflds-caption-checkboxes th {
	padding: 3px 10px 20px 0;
}
.prflxtrflds-checkboxes-for-roles {
	padding-top: 0 !important;
}
#prflxtrflds-select-roles,
#prflxtrflds-select-roles-editable,
#prflxtrflds-select-roles-visibility {
	margin-top: 3px;
}
#prflxtrflds-select-roles input,
#prflxtrflds-select-roles-editable input,
#prflxtrflds-select-roles-visibility input {
	margin: .37em 0 .7em!important;
}
/* End drag n drop styles */
.rtl .prflxtrflds-drag-values input,
.rtl .prflxtrflds-sortable-form,
.rtl .prflxtrflds-value-name,
.rtl .prflxtrflds-delete,
.rtl .prflxtrflds-drag-field {
	float: right;
}
.prflxtrflds-labels-for-mobiles {
	display: none;
}
.login-action-register .prflxtrflds_number {
	width: 100%;
}
.login-action-register label select {
	width: 100%;
}
.no-js #prflxtrflds-div-select-all,
.no-js #prflxtrflds-select-all-visibility,
.no-js #prflxtrflds-select-all-editable,
.no-js #prflxtrflds-select-all {
	display: none;
}
#prflxtrflds-pro-options{

	background: #f5e177;;
	opacity: 0.3;
}
/* Register page */
textarea {
	max-width: 100%;
}
@-moz-document url-prefix() {
	.form-table td fieldset label {
		line-height: 1.5;
	}
}

@media screen and (min-width: 800px) {
	.prflxtrflds-placeholder th,
	.prflxtrflds-placeholder td {
		border-top: 1px dashed #bbb;
		border-bottom: 1px dashed #bbb;
		height: 10px;
	}
}

@media screen and (max-width: 800px) {
	.prflxtrflds-placeholder td {
		display: none !important;
	}
}

@media screen and (max-width: 782px) {
	.prflxtrflds-hide-on-mobile {
		display: none !important;
	}
	.prflxtrflds-wplisttable-form .fixed .column-name .user_id {
		display: block;
	}
	.prflxtrflds-labels-for-mobiles {
		display: inline;
	}

	.prflxtrflds_input_checkbox,
	.prflxtrflds_input_radio {
		height: 16px !important;
		width: 14px !important;
	}
	select[name=prflxtrflds_format_export] {
		margin-bottom: 10px;
	}
	input[type=radio]:checked:before {
		margin: 3px 0 0 3px;
		width: 8px;
		height: 8px;
	}
	input[type=checkbox]:checked:before {
		font: 400 26px/1 dashicons;
		margin: -5px -7px;
	}
}
@media screen and ( max-width: 780px ) {
	.prflxtrflds-delete {
		padding-right: 10%;
		float: right;
	}
}
@media screen and ( max-width: 620px ) {
	.prflxtrflds-wplisttable-searchform td,
	.prflxtrflds-wplisttable-searchform th,
	.prflxtrflds-wplisttable-form td,
	.prflxtrflds-wplisttable-form th,
	.prflxtrflds-wplisttable-container td,
	.prflxtrflds-wplisttable-container th {
		/* Overwrite default styles */
		word-wrap: break-word !important;
	}
	.prflxtrflds-delete {
		padding-right: 8%;
		float: right;
	}
}
@media screen and ( max-width: 450px ) {
	.prflxtrflds-drag-values input {
		/* Must overwrite wp styles to input */
		max-width: 70% !important;
		float: left;
	}
}
